.edit-client-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin-top: 100px;
    width: 100vw;
}

.edit-client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
}

.edit-title {
    font-family: sans-serif;
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: clamp(1px, 0.3vw, 2px);
    font-size: clamp(35px, 3vw, 45px);
    font-style: normal;
    margin-bottom: 12px;
}

.last-update-time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.updateLabel {
    color: #9C9C9C;
}

.updatedAt {
    margin-left: 5px; /* Space between "Last Updated Time:" and timestamp */
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
    color: #9C9C9C;
}

.error-message {
    color: red;
    margin-top: 3px;
}

.edit-label-input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px; 
}

.edit-label-input-group input {
    padding: 10px;
    border: 1px solid #938f8f;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.edit-label-input-group label {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    color: #333;
    display: block;
}

.edit-date-important {
    text-align: center;
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #938f8f;
    border-radius: 4px;
}

.edit-date-important::placeholder {
    text-align: center;
}

.important-date-icon-archiveOn {
    font-size: 25px;
    color: #34951f;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.important-date-icon-archiveOn:hover {
    transform: scale(1.2);
    color: #2b7a19;
}

.important-date-icon-archiveOff {
    margin-left: 1px;
    margin-top: 3px;
    font-size: 20px;
    color: rgb(246, 170, 170);
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.important-date-icon-archiveOff:hover {
    transform: scale(1.2);
    color: rgb(245, 131, 131);
}

.divider-line {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 1rem 0;
}

.edit-date-important {
    text-align: center;
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #938f8f;
    border-radius: 4px;
}

.edit-date-important::placeholder {
    text-align: center;
}

.edit-save-draft-button, .edit-submit-button, .edit-delete-button {
    background-color: #CB997E;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
    min-width: 100px;
}

.edit-bottom-buttons {
    text-align: center;
    padding-top: 8px;
}

.edit-save-draft-button:hover, .edit-submit-button:hover, .edit-delete-button:hover {
    background-color: #d1d5db;
}

.edit-save-draft-button {
    margin-right: 80px;
}

.edit-submit-button {
    margin-right: 80px;
}

@media (max-width: 768px) {
    .edit-date-important {
        width: 90% !important;
        float: left;
    }
    .edit-note {
        width: 170px !important;
        height: 50px;
    }

    .edit-label-input-group {
        width: 100%;
    }
    
    .edit-client-page-body {
        width: 100%;
    }
    
    .edit-client-container {
        height: auto;
    }

    .edit-label-input-group input {
        width: 100%;
    }

    .edit-birthday {
        width: 90% !important;
        float: left;
    }

    .edit-additional-note {
        min-width: 370px;
    }
}

@media (max-width: 680px) {
    .edit-label-input-group {
        margin-left: 55px;
        width: 87%;
    }

    .edit-add-button {
        margin-right: 0px;
        margin-top: 23px;
    }

    .edit-remove-button {
        margin-left:0px;
        margin-top: -30px;
    }

    .edit-note {
        margin-right: 5px;
    }

    .edit-date-important {
        width: 120% !important;
        float: left;
    }

    .icon-container {
        margin-left: 60px;
    }

    .edit-bottom-buttons {
        margin-top: 20px;
    }

    .edit-save-draft-button {
        margin-right: 20px;
        margin-left: 50px;
    }
    
    .edit-submit-button {
        margin-right: 20px;
    }
}